#main{
    background-image: url("pictures/photo.png");
    
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}
.navbar>ul{
    display: flex;
    gap: 6em;
    float: right;
    padding-right: 200px;
    font-size: large;
}

.navbar>ul>li{
    list-style: none;
}

.msg{
    float: right;
    font-size: 30px;
    text-align: center;
    padding-right: 50px;
    padding-top: 150px;
}

.about{
    font-size: 50px;
    text-align: center;
    background-color: darkslategray;
    margin: 50px;
}


